
  <nav>
    <ul>
    <div class="update"><%= "#{current_user.nickname}" "さんの情報"%></div>
    <li><%= link_to "戻る",plan_index_path, data: { confirm: "更新されていませんがよろしいですか？" } %></li>
    </ul>
  </nav>


  <div class="upall"> 
      <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
  </div>


  <div class="upall"> 
      <div class="exam">
        <%= f.label :ニックネーム %>
        <div class="upall"> 
        <%= f.text_field :nickname, autofocus: true %>
        </div>
      </div>  
  </div>

  <div class="upall">  
      <th>プロフィール画像</th>
      <div id="lister" ></div>
  </div>

    <div class="exam">
      <div class="upall"> 
      <br> <br>  <%= f.file_field :avatar %>
      </div>
    </div>

    <div class="upall"> 
      <div class="actions">
      <br><br>  <%= f.submit "内容を更新する" %>
      </div>
    </div>
  <% end %>
<div class="upall"> 
</div>