<div class="update"><%= "#{current_user.nickname}" "さんの情報"%></div>
  <div class="upall"> 
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
  </div>
  <div class="upall"> 
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  </div>


<div class="upall"> 
      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
  </div>




  <div class="upall">  
      <div class="field">
        <%= f.label :password %>
        
        <%#= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
        <em><%#= @minimum_password_length %> <%#characters minimum</em>%>
        <% end %>
         <%#= f.label :password %>
        </div> 
       <div class="upall"> 
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
  </div>
  
  <div class="upall">
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
  </div>


  <div class="upall"> 
      <div class="exam">
        <%= f.label :ニックネーム %> <em>（最大6文字）</em>
        <div class="upall"> 
        <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
        </div>
         </div>  
  </div>
  <div class="upall">  
      <th>プロフィール画像</th>
      </div>
      <div class="exam">

      <div class="upall"> 
      <%= f.file_field :avatar %>
      <div id="image-list"></div>
      </div>
  </div>

<div class="upall"> 
      <div class="actions">
      <%= f.submit "内容を更新する" %>
      </div>
</div>      
<% end %>
<div class="upall"> 
    <div class="upback"><%= link_to "戻る",plan_index_path, data: { confirm: "更新されていませんがよろしいですか？" } %></div>
</div>
<div class="kome">*メールアドレス、現在のパスワードは入力必須で、変更したい箇所を入力してください</div>