<div class="space">トレーニング内容の共有スペース</div><br>

  <%= link_to("投稿する",new_plan_tweet_path, class: "btn")  %></p>
<div class="contents row">
<%#= tweet_lists(@tweets) %> 
</div>
<%= link_to("戻る", plan_index_path, class: "btn") %>





!>投稿されたメッセージの表示</!>
<div class = "center">
<%#GetMessageDAO getmessagedao = new GetMessageDAO();%>
<%#ArrayList<Map<Integer,String>> messagelist = getmessagedao.getMessage();%>
<%#for(int i = 0; i<messagelist.size(); i++){%>
	<%#= Map<Integer,String> list = messagelist.get(i);%>
	<%#	String message =  list.get(1);%>
	<%#	String time =  list.get(5);%>
	<%#	String namefrom =  list.get(6);%>
	<%#	String nameto =  list.get(7);%>
<div class="activity-feed">
<div class="feed-item">
<div class="date">To:<%=%></div>
<div class="text"><%=%></div>
<div class="date">From:<%=%> (<%=%>)</div>
</div>
</div>
<%#}%>