<div class="form-wrapper">
  <h1>Sign In</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-item">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="form-item">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <div class="button-panel">
      <%= f.submit "Login" , class: "buttona" %>
    </div>
  <% end %>
</div>