<%# CSS・・・assets/stylesheets/plans/index.css %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'plan' %>
<% end %>


<!DOCTYPE html>
<p id="notice"><%= notice %></p>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Work-out</title>
    <link rel="stylesheet" href=plans/index.scss>
  </head>
<%#= image_tag @user.avatar, :size =>'50x50' %>
<nav>
<ul>
<div class="words">


    <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, :size =>'50x50', class: "gram" %>
    <% else %>      
    <%= image_tag src='5183ef65b82a66cf573f324e59cf028b.png', class: "user-icon", alt: "ユーザーアイコン", :size =>'50x50', class: "gram"%>
    <% end %>   
<%=link_to "こんにちは" "#{current_user.nickname}" "さん" ,edit_user_registration_path %>
</div>

<li><%= link_to 'ログアウト', destroy_user_session_path, class: "setbtn" %></li>
<li><%= link_to 'トレーニング記録へ',  new_plan_path,method: :get, class: "setbtn" %></li>
<li><%= link_to 'トレーニング共有一覧へ',   tweet_index_path, method: :get, class: "setbtn" %></li>
</ul>
</nav>

<div class= "carender">
<h3>MyCalender</h3>
</div>

<div class="tatal"%>
<%#= current_user.nickname %>累計トレーニング数(年間/月別)</div>
<div class="counter">
<% current_user.plans.group("YEAR(start_time)").count.each do |year, value| %>
<%= year %>年..
<%= value %>回
<% end %>

<% current_user.plans.group("MONTH(start_time)").count.each do |month, value| %>
 / <%= month %>月..
  <%= value %>回 
<% end %>
</div>
<%#= current_user.plans %>






  <tbody>
    <% @plans.each do |plan| %>
    
    <% end %>
  
  </tbody>
<br>
<%= month_calendar events: @plans do |date, plans| %>

  <%= date.day %>
  <% plans.each do |plan| %>
    <div>
    <% if  current_user.id == plan.user.id %>
      <%= link_to "⚫︎" "#{plan.event}", plan %>
      
    </div>
  <% end %>

<% end %>
<% end %>












<% @user.plans.each do |user| %>
				<tbody>
					<tr>
						<td><%=user.event%></td>
						<td><%= user.kg%>kg</td>
						<td><%= user.number%>回数</td>
						<td><%= user.set%>セット</td>
            <td><%= user.time%>時間</td> 
						<td><%= user.start_time.strftime("%Y-%m-%d %H:%M")%></td>
						
					</tr>
				</tbody>
			<% end %>




<%#= @user.plans.each do |plans| %>
<%# @user.plans %>
<%# end %>
<br>
<br>
<br>
<div class="note">※日付欄はAM:09:00に更新され色が付きます。</div>
 <footer id="footer">
        <div class="logo">
        </div>
        <p>&copy; shos3 work out</p>
      </footer>