<div class="planindex">
  <link rel="stylesheet" href="plans/index.css">
    <% content_for :css do %>
      <%= stylesheet_link_tag 'plan' %>
    <% end %>

<!DOCTYPE html>
    <p id="notice"><%= notice %></p>
    <html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Work-out</title>
    <link rel="stylesheet" href=plans/index.scss>
  </head>

  <div class="planindex">
    <nav>
      <ul>
    <div class="words">
        <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, :size =>'50x50', class: "gram" %>
        <% else %>      
        <%= image_tag src='5183ef65b82a66cf573f324e59cf028b.png', class: "user-icon", alt: "ユーザーアイコン", :size =>'50x50', class: "gram"%>
        <% end %>   
        <%=link_to "こんにちは、" "#{current_user.nickname}" "さん" ,edit_user_registration_path %>
    </div>
        <li><%= link_to 'ログアウト', destroy_user_session_path, class: "setbtn" %></li>
        <li><%= link_to 'トレーニング記録へ',  new_plan_path,method: :get, class: "setbtn" %></li>
        <li><%= link_to 'トレーニング共有一覧へ',   tweet_index_path, method: :get, class: "setbtn" %></li>
      </ul>
    </nav>
  </div>
</div>

    <div class="maycare">MyCalender <%= image_tag src='icon_139421_64.png', class: "user-icon", alt: "ユーザーアイコン", :size =>'50x50', class: "gram"%></h3></div>

      <div class="box">

      <div class="stopto">
      <div id="stopwatch">00:00.000</div>
          <div id="buttons">
              <button type="button" id="reset" class="button">リセット</button>
              <button type="button" id="start" class="button">スタート</button>
          </div>
      </div>
          <script src="js/time.js"></script>

<div class="tatal">累計トレーニング数(年間/月別)</div>
  <div class="counter">
    <% current_user.plans.group("YEAR(start_time)").count.each do |year, value| %>
        <%= year %>年..
        <%= value %>回
    <% end %>

    <% current_user.plans.group("MONTH(start_time)").count.each do |month, value| %>
        / <%= month %>月..
          <%= value %>回 
    <% end %>
  </div>
      <div class="bgImg src1"></div>
      <div class="bgImg src2"></div>
      <div class="bgImg src3"></div>
      <div class="bgImg src4"></div>
</div>

  <tbody>
    <% @plans.each do |plan| %>
    <% end %>
  </tbody>
    <br>
        <%= month_calendar events: @plans do |date, plans| %>
        <%= date.day %>
        <% plans.each do |plan| %>
    <div>
        <% if  current_user.id == plan.user.id %>
        <%= link_to "⚫︎" "#{plan.event}", plan %>  
    </div>
        <% end %>
    <% end %>
  <% end %>
    <footer id="footer">
        <div class="logo">
        </div>
        <p>&copy; shos3 work out</p>
    </footer>

