<p id="notice"><%= notice %></p>



<nav>
<ul>
<div class="words">トレーニング内容</div>
<li><%= link_to '削除する', plan_path, method: :delete %></li>
<li><%= link_to '戻る', plan_index_path %></li>
</ul>
</nav>

  <div class="record"><%= "#{@plan.start_time.to_s(:datetime_jp)}" %></div> 
  <br>
    <div class="record">
    <%= "#{@plan.event}"  %></div>
    <br>
      <div class="record">
      <%= "#{@plan.kg}" "kg" %></div>
          <div class="record"> 
          <%= "#{@plan.number}" "回" %></div>
              <div class="record">  
              <%= "#{@plan.set}" "セット" %></div>
                  <div class="record">
                  <%= "#{@plan.time}" "分" %></div>
                      <div class="nott">
                      <%= "#{@plan.memo}" %> </div>