<p id="notice"><%= notice %></p>



<div class="naiyou">トレーニング内容</div>
  <%= "#{@plan.start_time}"  %> <br>
  <%= "#{@plan.event}"  %> <br>
  <%= "#{@plan.kg}" "kg" %>
  <%= "#{@plan.number}" "回" %>
  <%= "#{@plan.set}" "セット" %>
  <%= "#{@plan.time}" "分" %>
 <div class="memo">メモ</div> 
 <%= "#{@plan.memo}" %> 


<p><%#= link_to '編集する', edit_plan_path(:id) %></p>
<p><%= link_to '削除する', plan_path, method: :delete %></p>
<%= link_to '戻る', plan_index_path %>
